@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@400;700&family=Hind:wght@400;700&display=swap");

body {
  font-family: "Hind", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Inknut Antiqua", serif;
}

.button {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.button:hover{
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: underline;
  display: inline-block;
  font-size: 16px;
}
