/* custom.css */

@keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
}
  
.animate-scroll {
    display: flex;
    white-space: nowrap;
    animation: scroll 30s linear infinite;
}
  
.social-container {
    padding: 25px 50px;
}

a.social {
    margin: 0 1rem;
    transition: transform 250ms;
    display: inline-block;
}

a.social:hover {
    transform: translateY(-2px);
}

a.youtube {
    color: #eb3223;
}
  
a.facebook {
    color: #4968ad;
}
  
a.twitter {
    color: #49a1eb;
}
  
a.instagram {
    color: white;
}

.rotating {
    animation: circularMotion 30s linear infinite;
  }
  
  @keyframes circularMotion {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform:rotate(360deg);
    }
  }